

.btn {
  background-color: white;
  padding: 20px, 20px;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,1);
}


.btn:hover {
  background-color: lightgray;
}



.selectBtn {
  background-color: rgb(247, 6, 78);
  color: white;
}


